 <mat-horizontal-stepper #stepper>
    <mat-step>
      <ng-template matStepLabel>Bienvenido</ng-template>
      <mat-card class="first-card">
        <img [attr.src]="(isHandset$ | async) ? 'assets/banner-mobile.jpg' : 'assets/banner.jpg'" style="width: 100%; max-height: 80vh;" alt="">
        <div style="text-align: center;">
            <button mat-raised-button matStepperNext type="button" color="primary">ENTENDIDO</button>
          </div>
      </mat-card>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Antes de empezar</ng-template>
        <mat-card class="second-card">
          <h2>Reglas</h2>
          <p>
            El fixture interactivo se podrá completar en cualquier momento de la Copa del Mundo. Solo se podrán completar resultados o hacer modificaciones hasta dos horas antes del inicio de cada partido. 
          </p>
            <p><strong>SISTEMA DE PUNTOS</strong></p>
            <p>En fase de grupos:</p>
            <p>
            Si se acierta el resultado del partido se obtendrá 1 punto.
            Si, además de acertar el resultado del partido, se aciertan los goles se obtendrán 4 puntos adicionales.
            </p>
            <p>
            A partir de octavos:
          </p>
          <p>
            Si se acierta el resultado del partido, se obtendrá 1 punto. 
            Si, además de acertar el resultado del partido, se aciertan los goles, se obtendrán 6 puntos adicionales.
            Si el partido va a penales solo se tomara en cuenta el resultado del partido. No se podran obtener los puntos extras por los goles.
            Si se pronostica un ganador durante el partido (no en los penales) y ese país resultara ganador por penales, se lleva 1 solo punto.
            </p>
            <p>Los puntos de cada fase del torneo se multiplican de la siguiente manera:</p>
            <ul>
              <li>Puntos obtenidos durante la fase de grupos: x 2</li>
              <li>Puntos obtenidos en los octavos de final: x 4</li>
              <li> Puntos obtenidos en los cuartos de final y en la definición por el tercer puesto: x 8</li>
              <li>Puntos obtenidos en las semifinal: x 16</li>
              <li>Puntos obtenidos en la final: x 32</li>
            </ul>
            <p>
            Habrá una tabla de posiciones para el ranking general del cual participan todos los usuarios que hagan un pronóstico. La misma se puede ver en el menu de la aplicación.
            </p>
          <div style="text-align: center;">
              <button mat-raised-button matStepperNext color="primary" type="button">COMENZAR</button>
            </div>
        </mat-card>
      </mat-step>
    <mat-step>
        <ng-template matStepLabel>Fixture</ng-template>
        <fixture></fixture>
    </mat-step>
  </mat-horizontal-stepper>