<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      opened="false">
      <!-- <mat-toolbar color="primary"></mat-toolbar> -->
      <mat-card *ngIf="currentUser" class="profile-card">
          <mat-card-header style="display: inline !important;">
            <div mat-card-avatar class="profile-header-image"></div>
            <mat-card-title>{{currentUser.fullName}}</mat-card-title>
            <mat-card-subtitle>{{currentUser.emailAddress}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      <mat-nav-list>
        <a mat-list-item routerLink="/inicio">INICIO</a>
        <a mat-list-item routerLink="/puntaje">PUNTAJE</a>
        <a mat-list-item routerLink="/ayuda">REGLAS</a>
        <a mat-list-item routerLink="/contacto">¿PROBLEMAS?</a>
        <a mat-list-item (click)="logout()">Cerrar Sesión</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="position: fixed; z-index: 99; background-color: #ffffff;">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="/assets/logo.png" style="max-width: 100px; margin-left: 1rem;">
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>