<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      opened="false">
      <!-- <mat-toolbar color="primary"></mat-toolbar> -->
      <mat-card *ngIf="(isLoggedIn$ | async)" class="profile-card">
          <mat-card-header style="display: inline !important;">
            <div mat-card-avatar class="profile-header-image"></div>
            <mat-card-title>{{currentUser.fullName}}</mat-card-title>
            <mat-card-subtitle>{{currentUser.emailAddress}}</mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      <mat-nav-list>
        <a mat-list-item routerLink="/inicio"><mat-icon style="padding-right: 10px;">stars</mat-icon>JUGAR</a>
        <a mat-list-item routerLink="/puntaje"><mat-icon style="padding-right: 10px;">dashboard</mat-icon>PUNTAJE</a>
        <a mat-list-item *ngIf="(isLoggedIn$ | async)" routerLink="/password" style="color: #673ab7;"><small><strong>Cambiar Contraseña</strong></small></a>
        <a mat-list-item *ngIf="(isLoggedIn$ | async)" (click)="logout()" style="color: #673ab7;"><small><strong>Cerrar Sesión</strong></small></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar style="position: fixed; z-index: 99; background-color: #ffffff; box-shadow: 10px 0 10px rgba(0,0,0,.24);">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isLoggedIn$ | async)">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <a href="/"><img src="/assets/logo.png" style="max-width: 100px; margin-left: 1rem;"></a>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>