.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

/* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  max-height: 600px;
  overflow: auto;
}

table {
  width: 100%;
}
/* Column Widths */
.mat-column-position,
.mat-column-totalMultiplier {
  max-width: 64px;
}