<div class="main-div grid-container" style="display: block !important;">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list *ngIf="score$ | async as score; else loading" cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="(isHandset$ | async) ? '2' : 1" rowspan="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Tus Puntos
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div style="margin-top: 2rem">
            <span style="font-size: 7rem">{{total$}}</span>
            <span>puntos</span>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="(isHandset$ | async) ? '2' : 1" rowspan="2">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Tabla de Posiciones
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <table mat-table [dataSource]="rankingSource">
          
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Puesto</th>
              <td mat-cell *matCellDef="let row">{{row.position}}</td>
            </ng-container>
          
  
            <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let row"> {{row.fullName}} </td>
            </ng-container> 

            <ng-container matColumnDef="totalMultiplier">
              <th mat-header-cell *matHeaderCellDef>Puntos</th>
              <td mat-cell *matCellDef="let row"> {{row.totalMultiplier}} </td>
            </ng-container>

            <ng-container matColumnDef="emailAddress">
              <th mat-header-cell *matHeaderCellDef>Empresa</th>
              <td mat-cell *matCellDef="let row"> {{row.emailAddress}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="rankingColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: rankingColumns;"></tr>
          </table>
          <mat-paginator length="5" pageSize="30"></mat-paginator>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-template #loading>
    <mat-grid-list cols="2" rowHeight="320px">
      <mat-grid-tile [colspan]="(isHandset$ | async) ? '2' : '1'" rowspan="1">
        <mat-card class="dashboard-card">
          <mat-card-content class="dashboard-card-content">
            <span style="text-align: center;">Cargando...</span>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-template>
</div>