body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  background: url(assets/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mat-horizontal-stepper-header-container {
  display: none !important;
}

.mat-stepper-horizontal {
  padding: 0 !important;
  margin-top: 56px;
  background: rgba(0,0,0,0);
}

.mat-drawer-container {
  background: rgba(0,0,0,0);
}

.mat-expansion-panel-body {
  padding: 0 0px 16px !important;
}

.mat-card-content, .mat-card-header .mat-card-title, .mat-card-subtitle {
  font-size: inherit !important;
}

.center{
  width: 75%;
  margin: 10px auto;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}